/*///// ADDED- styling ////*/
.instructions-div{
  height: auto;;
  width: 100%
  padding: 100px;
}
.instructions-div,h3{
  margin: 5rem;
  color: grey;
  text-align: center

}

hr.style {
  border: 1px dashed orange;
}
hr.style:after {
  content: '\002702';
  display: inline-block;
  position: relative;
  top: -12px;
  left: 40px;
  padding: 0 .5rem;
  background: transparent;
  color: white;
  font-size: 1.5rem;
}
