*{
  background-color: black;
  /*border: 1px solid black;*/
}
header{
  font-family: 'Eater', cursive;
  font-size: 4rem;
  text-align: center;
  background-color: orange;
}
/*main{
   display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
}*/
#picDiv{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  background-color: black;
}
#picFrame1{
  width: 300px;
  height: 300px;
  border: 5px solid red;
}

#picFrame2{
  width: 300px;
  height: 300px;
  border: 5px solid red;
}
footer{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  background-color: orange;
}
